main{
width: 100vw;
height: 79vh;
overflow: hidden;


.module-section{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 100%;

    .module{
        width: 100%;
        max-width: 25em;
        text-align: center;

        border-radius: 1em;

        margin: {
            left: 5vw;
            right: 5vw;
            top: 0.5em;
            bottom: 0.5em;
        }

        padding: {
            top: 1em;
            bottom: 1em;
        };
        background-color: rgba(245, 245, 245, 0.2);

        .material-symbols-outlined {
            font-size: 2em;
        }

        h2 {
            margin-top: 0.25em;
            margin-bottom: 0.5em;
            font-size: 2.5em;
        }

        .module-table {
            width: 100%;
            padding: {
                left: 1em;
                right: 1em;
            };
            font-size: 1.2em;

            .material-symbols-outlined {
                font-size: 1.5em;
            }

            td{
                padding: {
                    top: 0.1em;
                    bottom: 0.1em;
                }
            }

            .case_0 {
                width: 30%;
                text-align: left;
                font-weight: 1000;
            }
            .case_4, .case_5{
            font-weight: 1000;
           }
        }

        .form-add-city{
            visibility: hidden;
            position: absolute;
        }

        input {
            height: 2.5em;
            width: 75%;
            margin-bottom: 1em;
            border-radius: 1em;
            border: solid 0.1em var(--color);
            background-color: rgb(10,10,10,0.1);

            font-size: 1.5em;
            color: var(--color);
            text-align: center;
        }

        button {
            border: solid 0.1em var(--color);
            height: 2.5em;
            width: 50%;
            border-radius: 1em;
            background-color: rgb(10, 10, 10,0.1);

            font-size: 1.2em;
            color: var(--color);
        }

        &.module-add{
            margin-bottom: 10em;
        }

        .module-remove{
            position: relative inherit;
            width: 25%;
            margin-top: 1.5em;
        }
    }


}
}